.grid-item {
    margin: 5px 15px;
}

.btn-filter {
    margin: 0 0 10px 15px;
    text-transform: none;
    text-decoration: none;
    color: #333333;
}

.btn-filter:hover {
    background: #323437;
    color: #FFFFFF;
    transition: all .3s ease;
}

.btn-active {
    background: #323437;
    color: #FFFFFF;
}

.catalog-block {
    width: 100%;
    max-width: 994px;
    margin: 15px auto auto auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.catalog-block > .grid-item {
    margin: 5px 15px;
    background: none;
}

.catalog-block > .grid-item > .img {
    position: relative;
    height: 300px;
}

.catalog-block > .grid-item > .img img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.catalog-block > .grid-item > .img:hover .fon{
    height: 300px;
}

.catalog-block > .grid-item > .text p{
    padding: 5px 0;
    font-family: "GothamProBold", sans-serif;
}

.catalog-block > .grid-item > .img > .fon{
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 0;
    transition: all 0.5s;
}

.item-characteristics {
    margin: 20px;
    border-left: 5px solid #F9AA00;
}

.item-characteristics p{
    padding: 5px 0 0 20px;
    color: #FFFFFF;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.grid-item > .img > .fon > .d-flex > .btn {
    font-family: 'GothamProRegular', sans-serif;
    text-transform: none;
    font-size: 1rem;
    margin: 15px auto;
}

.grid-title {
    width: 100%;
    margin: auto;
}

.grid-title p{
    padding: 20px 15px 20px 25px;
    color: #323437;
    font-family: 'GothamProBold', sans-serif;
    font-size: 1rem;
}

.grid-title p:before{
    content: '';
    width: 2px;
    background: #F9AA00;
    position: absolute;
    height: 1.2rem;
    margin: 4px 0 0 -10px;
}

.grid-item-text {
    margin: 0 15px 15px 15px;
}

.grid-item-text > .text > h3 {
    padding: 0 15px 15px 0;
    color: #323437;
    font-family: 'GothamProBold', sans-serif;
}

.grid-item-text > .text > p {
    padding: 10px 0;
}

/* slider */
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-container {
    max-width: 994px;
}

.swiper-button {
    height: 50px;
    margin: 10px auto;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.swiper-button-next, .swiper-button-prev {
    position: static;
    width: 40px;
    height: 40px;
    margin: auto 5px;
    background-size: 40px 40px;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-button-prev {
    background-image:url("../images/left-arrow-slider.png");
}

.swiper-button-next {
    background-image:url("../images/right-arrow-slider.png");
}

.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: start;
    justify-content: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: start;
    align-items: start;
}

.swiper-slide > .slide {
    position: relative;
    width: 100%;
    height: 300px;
}

.swiper-slide > .slide img{
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.swiper-slide > .slide > .link {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 50px;
}

.swiper-slide > .slide > .link a{
    text-decoration: none;
    font-family: 'GothamProBold', sans-serif;
    font-size: 0.9rem;
    line-height: 50px;
    padding: 17px 0 17px 50px;
    color: #FFFFFF;
}

.swiper-slide > .slide > .link a:before{
    position: absolute;
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 1rem;
    background: #F9AA00;
    -webkit-box-shadow: 0 0 0 5px rgba(231,166,26,0.3);
    -moz-box-shadow: 0 0 0 5px rgba(231,166,26,0.3);
    box-shadow: 0 0 0 5px rgba(231,166,26,0.3);
    margin: 21px 0 0 -20px;
}

.swiper-slide > .slide > .link a:hover{
    text-decoration: underline;
}
/* slider end */

/* media */
@media(min-width: 600px) {
    .catalog-block {
        justify-content: space-between;
    }

    .catalog-block > .grid-item {
        width: 49%;
        margin: 0 0 15px 0;
    }
}

@media(min-width: 1024px) {
    .catalog-block {
        justify-content: start;
    }

    .catalog-block > .grid-item {
        width: 32%;
    }

    .catalog-block > .grid-item:nth-child(3n+2) {
        margin: 0 2% 15px 2%;
    }
}
/* media end */