.grid-item {
  padding: 15px;
  position: relative;
}
.grid-item > img, .grid-item > p > img {
  max-height: 400px;
  object-fit: cover;
  max-width: 100%;
}
.grid-item p {
  padding-left: 0;
  padding-right: 0;
}
.grid-item a.btn {
  color: #333;
  display: flex;
  width: max-content;
  text-decoration: none;
  padding: 15px 25px;
}
.grid-item a.btn img {
  margin: 5px;
}
.grid-item blockquote {
  margin: 10px 0;
  padding: 5px 15px 5px 40px;
  border-left: 5px solid #F9AA00;
  background: #FFFFFF;
}
.grid-item .functions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}
.grid-item .functions > div {
  width: 33%;
  background: #FFFFFF;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.grid-item .functions > div img {
  width: 50px;
  height: 57px;
  margin: 10px auto auto auto;
}
.grid-item .functions > div p {
  padding: 10px 5px;
  margin: 0 auto;
  font-size: 0.8rem;
  line-height: 20px;
  font-family: "GothamProBold", sans-serif;
}
