<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="description" content="" data-container="meta-description">
    <meta property="og:title" content="" data-container="title">
    <meta property="og:description" content="" data-container="meta-description">
    <meta property="og:image" content="" data-container="meta-image">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/gallery-page.css">
    <link rel="stylesheet" media="only screen  and (min-width: 1024px)" href="/assets/css/desktop.css">
</head>
<body>
<header data-template="header"></header>
<main>
    <section class="top">
        <h2 data-container="page-title"></h2>
    </section>
    <section class="grid-section" data-container="gallery-items" data-template="gallery_item">
        <div class="d-flex m-auto"><a class="reload-btn"><img src="/assets/images/reload.svg" alt=""></a></div>
    </section>
</main>
<footer data-template="footer"></footer>
<script src="/assets/js/base.js"></script>
<script src="/assets/js/lightbox.js"></script>
</body>
</html>